
* {
	margin: 0;
	padding: 0;
}

#video {
  	position: fixed;
  	top: 0;
  	left: 0;
  	min-width: 100%;
  	min-height: 100%;
}

#content {
  	position: fixed;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	background: rgba(0, 0, 0, 0.5);
  	padding: 20px;

  	display: flex;
  	align-items: center;
  	justify-content: center;
}

.btn {
	cursor: pointer;
	font-family: 'helvetica', sans-serif;
	font-size: 1.3rem;
	min-width: 150px;
	padding: .7rem;
	background-color: transparent;
	color: #FFF;
	border-radius: .3rem;
	border: 1px solid #F6F6F6;
	transition: background-color .15s linear;
}
.btn:hover {
	background-color: rgba(255, 255, 255, .3);
}